{$DOMAIN} {
	encode zstd gzip
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy same-origin
		X-Frame-Options DENY
	}
	handle /api/* {
		request_body {
			max_size 64KB
		}
		reverse_proxy backend:8000
	}
	handle {
		reverse_proxy frontend:3000
	}
}
